@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form id="frmLevel1">
    <div class="form-group row">
        <div id="lblCompany" class="form-group col-md-3">
            <label id="lblCompany" for="StudentName">Company</label>
        </div>
    </div>
</form>